:host {
  display: block;
}

/* Pastille avec le nom de l'utilisateur connecté. */
.username {
  padding: 0.3rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--red);
  background: var(--black);
  border-radius: 999px;
}
