:host {
  display: block;
  pointer-events: none;
  user-select: none;
}

.row {
  display: grid;
  grid-template-columns: repeat(5, 46px);
  justify-items: center;
  align-items: center;
  height: 46px;
}

span {
  border-radius: 50%;
  background: var(--black);
}
